body{
  margin: 0;
}

header{
  width: 100vw;
  height: 10vh;
}

.headerSearch li{
  position: relative;
  font-family: Helvetica;
  font-weight: 300;
  color: gray;
  list-style: none;
  float: left;
  margin-left: 0.5em;
  font-size: 1.3em;
  top: 2vh;
  left: 65vw;
}

.headerSearch li:first-child a:hover{
  color: #4DB2AD;
  text-decoration: underline;
}

.headerSearch li a{
  color: gray;
  text-decoration: none;
}

.headerSearch li:nth-child(2) a:hover{
  color: #4DB2AD;
  text-decoration: underline;
}

.headerSearch li:nth-child(3) a{
  color: #4DB2AD;
  text-decoration: underline;
}

.headerSearch li:last-child a:hover{
  color: #4DB2AD;
  text-decoration: underline;
}

main{
  position: relative;
  top: 5vh;
  left: 12vw;
}
