body{
  margin: 0;
}

header{
  width: 100vw;
  height: 10vh;
}

.headerSearch li{
  position: relative;
  font-family: Helvetica;
  font-weight: 300;
  color: gray;
  list-style: none;
  float: left;
  margin-left: 0.5em;
  font-size: 1.3em;
  top: 2vh;
  left: 65vw;
}

.headerSearch li:first-child a{
  color: gray;
  text-decoration: none;
}

.headerSearch li:first-child a:hover{
  color: #FFA07A;
  text-decoration: underline;
}

.headerSearch li a{
  color: gray;
  text-decoration: none;
}

.headerSearch li:nth-child(2) a{
  color: #4DB2AD;
  text-decoration: underline;
}

.headerSearch li:nth-child(3) a:hover{
  color: #FFA07A;
  text-decoration: underline;
}

.headerSearch li:last-child a:hover{
  color: #FFA07A;
  text-decoration: underline;
}

main{
  position: relative;
  top: 5vh;
}

.title{
  position: relative;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 300;
  color: gray;
  text-align: center;
}

.description{
  position: relative;
  font-family: Helvetica;
  font-size: 1.2em;
  font-weight: 200;
  color: gray;
  text-align: center;
}

.buttons{
  /*background-color: #4DB2AD;*/

  color: white;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin: 0 auto;
  text-align: center;
  z-index: 1;

}

/*.top40{
  position: relative;
  top: 10px;
}*/

#top40{
  color: white;
  position: relative;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 200;
  border-radius: 5px 5px 5px 5px;
  border: none;
  width: 12vw;
  height: 6vh;
  margin: 0 auto;
  top: 2vh;
  text-align: center;
  z-index: 1;
  background-color: #4DB2AD;
}

#top40:hover{
  background-color: #FFA07A;
}

.top40Nation{
  position: relative;
  top: 10px;
}

#top40Nation{
  color: white;
  position: relative;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 200;
  border-radius: 5px 5px 5px 5px;
  border: none;
  width: 12vw;
  height: 6vh;
  margin: 0 auto;
  top: 3vh;
  text-align: center;
  z-index: 1;
  background-color: #4DB2AD;
}

#top40Nation:hover{
  background-color: #FFA07A;
}

.top40Event{
  position: relative;
  top: 10px;

}

#top40Event{
  color: white;
  position: relative;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 200;
  border-radius: 5px 5px 5px 5px;
  border: none;
  width: 12vw;
  height: 6vh;
  margin: 0 auto;
  top: 4vh;
  text-align: center;
  z-index: 1;
  background-color: #4DB2AD;
}

#top40Event:hover{
  background-color: #FFA07A;
}

#tabl{
  position: relative;
  font-family: Helvetica;
  text-align: center;
  border: none;
  border-color: white;
  top: 6vh;
  /*left: 10vw;*/
  text-decoration: underline;

}
#tabl th{
  color: gray;
  font-weight: 200;
  font-size: 1.2em;
  padding-left: 60px;
  border: none;
}

#tabl td{
  color: #4DB2AD;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  padding-left: 40px;
}
